<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-openshift-index") %>>
          <a href="/docs/providers/openshift/index.html">Openshift Provider</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openshift-guide-getting-started") %>>
              <a href="/docs/providers/openshift/guides/getting-started.html">Getting Started</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-openshift-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-openshift-resource-project") %>>
              <a href="/docs/providers/openshift/r/project.html">openshift_project</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
